*{
    box-sizing: border-box;
}
/* BODY */
body {
    background-image: url(../images/texturebg-1.jpg);
    background-size: 100% 100%;
}


/* SITE-HEADER */
.site-header {
    background: black;
    color: gold;
    font-family: 'Open Sans', 'Ubuntu', sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 3px 36px;
}
.site-header .order{
    animation-name: order;
    animation-duration: 1s;
    animation-iteration-count: 5;
    animation-timing-function: linear;
}
/* order animation */
@keyframes order{
    0%   {color: gold;}
    25%  {color: black;}
    50%  {color: black}
    100% {color: gold;}
}
.site-header .order p {
    font-weight: 400;
    text-transform: uppercase;
}

.site-header .order span {
    padding-left: 8px;
}

.site-header .social-media {
    text-align: right;
}

.site-header .social-media p {
    display: inline-block;
    font-weight: 400;
    text-transform: uppercase;
    padding-right: 6px;
}

.site-header .social-media a {
    display: inline-block;
    text-decoration: none;
    color: gold;
    margin: 0 4px;
    transition: 0.4s;
    -webkit-transition: 0.4s;
}

.site-header .social-media a:hover {
    color: maroon;
}

/*HEADER*/
header {
    border-bottom: 1px solid #410203;
}

header .container-fluid {
    margin: 0 auto;
    width: 98%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

header .container-fluid .logo {
    flex-grow: 1;
    text-align: left;
}

header .container-fluid .logo h2 {
    display: inline-block;
    vertical-align: top;
    color: white;
    font-family: 'Alfa Slab One', cursive;
    font-size: 40px;
}

header .container-fluid .nav-icon {
    display: none;
    line-height: 0.8;
    margin-top: 13px;
}

header .container-fluid .nav-section .nav-icon a {
    text-decoration: none;
    color: white;
    font-size: 38px;
}

header .container-fluid nav {
    text-align: right;
    margin-top: 14px;
    flex-grow: 2;
}

header .container-fluid nav a {
    margin: 0 8px;
    text-decoration: none;
    color: white;
    font-family: 'Open Sans', 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 20px;
    -webkit-transition: .4s;
    transition: .4s;
}
header .container-fluid nav #active {
    color: gold;
    border-bottom: 1px solid;
}
header .container-fluid nav a:hover {
    color: gold;
    border-bottom: 1px solid;
}

.drop-menu{
    text-align: center;
    padding: 1% 0;
}
.drop-menu a{
    margin: 0 2%;
    text-decoration: none;
    color: white;
    font-family: 'Open Sans', 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 2vw;
    -webkit-transition: .4s;
    transition: .4s;
}
.drop-menu a:hover{
    color: gold;
    border-bottom: 1px solid;
}

/*CONTENT*/
main {
    background-image: url(../images/texturebg-2.jpg);
    background-size: 100% 100%;
}

main .container {
    padding: 55px 0 50px;
    text-align: center;
}

main .container h1 {
    font-size: 48px;
    text-transform: uppercase;
    font-family: 'Alfa Slab One', cursive;
    text-decoration: underline;
    color: #A8020C;
}

/* MENU */
main .container .menu{
    background-image: url(../images/texturebg-1.jpg);
    background-size: 100% 100%;
    border-radius: 10px;
    padding: 40px 0;
    box-shadow: 0px 5px 8px 2px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0px 5px 8px 2px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 5px 8px 2px rgba(0,0,0,0.6);
}
main .container #menu-title{
    padding-bottom: 60px;
}
main .container .tenders-wings, .sides-extras, .drinks-deserts{
    padding-top: 40px;
}
main .container #chicken, #fish, #tenders-wings, #sides-extras, #drinks-deserts{
    color:white;
    font-family: 'Open Sans', 'Ubuntu', 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 22px;
}

/* CHICKEN */
main .container #chicken .chicken-img{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
main .container #chicken img{
    width: 30%;
    height: 20%;
}
main .container #chicken #specials{
    font-size: 34px;
    margin-top: 2%;
    text-shadow: 2px 4px 3px rgba(0,0,0,1);
    transform: rotate(12deg);
    font-family: 'Rock Salt', cursive;
}
main .container #chicken h1{
    font-family: 'Dancing Script', cursive;
    color: gold;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 54px;
}
main .container #chicken #singles h3{
    padding-bottom: 14px;
    text-decoration: underline;
    text-decoration-color: gold;
    font-size: 22px;
    font-weight: 900;
    text-transform: capitalize;
}
main .container #chicken #singles .items{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
    border-bottom: 1px dotted gold;
    padding-bottom: 28px;
    padding-top: 0;
}
main .container #chicken #chicken-only{
    line-height: 0.3;
    font-weight: 500;
    font-size: 18px;
    font-style: italic;
    padding-bottom: 10px;
}
main .container #chicken #request{
    font-weight: 500;
    font-size: 22px;
    padding: 14px 0 28px;
    font-style: italic;
}
main .container #chicken .items{
    display: flex;
    flex-direction: row;
    width: 75%;
    margin: 0 auto;
    justify-content: space-between;
    padding-top: 20px;
    text-transform: capitalize;
}
/* FISH */
main .container .fish{
    padding-top: 20px;
}
main .container #fish img{
    width: 30%;
    height: 20%;
}
main .container .fish #fish2{
    margin-bottom: 10px;
}
main .container #fish .items{
    display: flex;
    flex-direction: row;
    width: 75%;
    margin: 0 auto;
    justify-content: space-between;
    padding-top: 20px;
    text-transform: capitalize;
}

main .container #fish h1{
    font-family: 'Dancing Script', cursive;
    color: gold;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 54px;
}
main .container #fish #nuggets h3{
    padding:28px 0 14px;
    text-decoration: underline;
    text-decoration-color: gold;
    font-size: 22px;
    font-weight: 900;
    text-transform: capitalize;
}
main .container #fish #nuggets .items{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 60%;
    padding-top: 0;
    text-transform: capitalize;
}
main .container #fish #all-orders-fish{
    font-weight: 500;
    width: 80%;
    border-bottom: 1px dotted gold;
    margin: 0 auto;
    font-size: 22px;
    padding: 14px 0 28px;
    text-transform: capitalize;
    font-style: italic;
}


/* TENDERS-WINGS */
main .container #tenders-wings img{
    width: 30%;
    height: 20%;
}
main .container #tenders-wings h1{
    font-family: 'Dancing Script', cursive;
    color: gold;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 54px;
}
main .container #tenders-wings .items{
    display: flex;
    flex-direction: row;
    width: 75%;
    margin: 0 auto;
    justify-content: space-between;
    padding-top: 20px;
    text-transform: capitalize;
}
main .container #tenders-wings .items #tenders h4{
    padding: 2px 0;
}
main .container #tenders-wings .items #wings .items{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 0;
    text-transform: capitalize;
}
main .container #tenders-wings #all-orders-tenders-wings{
    font-weight: 500;
    width: 80%;
    border-bottom: 1px dotted gold;
    margin: 0 auto;
    font-size: 22px;
    padding: 14px 0 28px;
    text-transform: capitalize;
    font-style: italic;
}

/* SIDES-EXTRAS */
main .container #sides-extras h1{
    font-family: 'Dancing Script', cursive;
    color: gold;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 54px;
}
main .container #sides-extras img{
    width: 30%;
    height: 20%;
}
main .container #sides-extras #okra{
    width: 35%;
    margin-bottom: -30px;
}
main .container #sides-extras #extras{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
    margin: 0 auto;
    border-bottom: 1px dotted gold;
    text-transform: capitalize;
    padding: 20px 0 28px;
}
main .container #sides-extras .items{
    display: flex;
    flex-direction: row;
    width: 75%;
    margin: 0 auto;
    justify-content: space-between;
    padding-top: 20px;
    text-transform: capitalize;
}
main .container #sides-extras .items #fries, #hushpuppies, #okra{
    width: 33%;
}

/* DRINKS-DESERTS */
main .container #drinks-deserts h1{
    font-family: 'Dancing Script', cursive;
    color: gold;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 54px;
}
main .container .drinks-deserts{
    padding-top: 60px;
}
main .container #drinks-deserts img{
    width: 30%;
    height: 20%;
}
main .container #drinks-deserts #sodas{
    width: 25%;
    height: 20%;
}
main .container #drinks-deserts .items{
    display: flex;
    flex-direction: row;
    width: 75%;
    margin: 0 auto;
    justify-content: space-between;
    padding-top: 20px;
    text-transform: capitalize;
}

main .container #chicken .items h4{
    padding: 6px 0;
}
main .container #chicken .items #sub-title-dark, #sub-title-mix, #sub-title-white, #sub-title-mix{
    padding-bottom: 8px;
    text-decoration: underline;
    text-decoration-color: gold;
    font-size: 22px;
    font-weight: 900;
}

main .container #fish .items h4{
    padding: 6px 0;
}
main .container #fish .items #sub-title-steaks, #sub-title-fillets, #sub-title-buffalo{
    padding-bottom: 8px;
    text-decoration: underline;
    text-decoration-color: gold;
    font-size: 22px;
    font-weight: 900;
}

main .container #tenders-wings .items h4{
    padding: 6px 0;
}
main .container #tenders-wings .items #sub-title-tenders, #sub-title-wings{
    padding-bottom: 8px;
    text-decoration: underline;
    text-decoration-color: gold;
    font-size: 22px;
    font-weight: 900;
}


main .container #sides-extras .items h4{
    padding: 6px 0;
}
main .container #sides-extras .items #sub-title-fries, #sub-title-hushpuppies, #sub-title-okra{
    padding-bottom: 8px;
    text-decoration: underline;
    text-decoration-color: gold;
    font-size: 22px;
    font-weight: 900;
}


main .container #drinks-deserts .items h4{
    padding: 6px 0;
}
main .container #drinks-deserts .items #sub-title-drinks, #sub-title-deserts{
    padding-bottom: 8px;
    text-decoration: underline;
    text-decoration-color: gold;
    font-size: 22px;
    font-weight: 900;
}

main .container #tenders-wings #all-orders-tenders-wings{
    font-weight: 500;
    width: 80%;
    border-bottom: 1px dotted gold;
    margin: 0 auto;
    font-size: 22px;
    padding: 14px 0 28px;
    text-transform: capitalize;
    font-style: italic;
}

/* FOOTER */
footer {
    color: white;
    padding: 26px 0 10px;
    border-top: 1px solid #410203;
}

/* FOOTER -> TOP */
footer .container .top {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

/* FOOTER -> TOP -> LOGO */
footer .container .top .logo {
    text-align: center;
    flex-grow: 1;
}

footer .container .top .logo #logo {

    color: white;
    text-decoration: none;
    vertical-align: top;
    margin-top: 7px;
    font-size: 25px;
    text-transform: capitalize;
    font-family: 'Alfa Slab One', cursive;
    border-bottom: 1px solid gold;
}

footer .container .top .logo .icons {
    padding-top: 26px;
}

footer .container .top .logo .icons a {
    text-decoration: none;
    color: white;
    font-size: 28px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    padding: 0 10px;
}

footer .container .top .logo .icons a:hover {
    color: gold;
}

/* FOOTER -> TOP -> VISIT */
footer .container .top .visit {
    text-align: center;
    padding-top: 7px;
    flex-grow: 2;
}

footer .container .top .visit h2 {
    font-size: 18px;
    text-transform: capitalize;
    font-family: 'Alfa Slab One', cursive;
    margin-bottom: 14px;
    text-decoration: underline;
    text-decoration-color: gold;
}

footer .container .top .visit a {
    font-family: 'Open Sans', 'Ubuntu', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-weight: 600;
    line-height: 1.8;
    transition: 0.2s;
}

footer .container .top .visit a:hover {
    color: gold;
}

/* FOOTER -> TOP -> HOURS */
footer .container .top .hours {
    text-align: center;
    padding-top: 7px;
    flex-grow: 2;
}

footer .container .top .hours h2 {
    font-size: 18px;
    text-transform: capitalize;
    font-family: 'Alfa Slab One', cursive;
    margin-bottom: 14px;
    text-decoration: underline;
    text-decoration-color: gold;
}

footer .container .top .hours h3 {
    font-family: 'Open Sans', 'Ubuntu', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    padding-bottom: 8px;
}

/* FOOTER -> BOTTOM */
footer .container .bottom {
    text-align: center;
    padding-top: 26px;
    font-family: 'Open Sans', 'Ubuntu', sans-serif;
    font-size: 16px;
}

footer .container .bottom a {
    text-decoration: none;
    color: white;
}


/* Desktop-Laptop */
@media only screen and (max-width: 1024px) {
    header .container-fluid nav {
        display: none;
    }

    header .container-fluid .nav-icon {
        display: block;
    }
    main .container {
        padding: 45px 0 40px;
    }
    main .container #chicken, #fish, #tenders-wings, #sides-extras, #drinks-deserts{
        font-size: 2.3vw;
    }
    
    main .container #menu-title{
        padding-bottom: 40px;
    }
    main .container #chicken #specials{
        font-size: 2.8vw;
    }
    main .container #chicken h1{
        font-size: 5vw;
    }
    main .container #chicken #chicken-only{
        font-size: 2vw;
    }
    main .container #chicken .items #sub-title-dark, #sub-title-mix, #sub-title-white, #sub-title-single{
        font-size: 2.3vw;
    }
    main .container #chicken #singles h3{
        font-size: 2.3vw;
    }
    main .container #chicken #request{
        font-size: 2vw;
    }
    main .container #fish h1{
        font-size: 5vw;
    }
    main .container #fish .items #sub-title-steaks, #sub-title-fillets, #sub-title-buffalo{
        font-size: 2.3vw;
    }
    main .container #fish #nuggets h3{
        font-size: 2.3vw;
    }
    main .container #tenders-wings h1{
        font-size: 5vw;
    }
    main .container #tenders-wings .items #sub-title-tenders, #sub-title-wings{
        font-size: 2.3vw;
    }
    
    main .container #fish #all-orders-fish{
        font-size: 2vw;
    }
    main .container #tenders-wings #all-orders-tenders-wings{
        font-size: 2vw;
    }
    main .container #sides-extras h1{
        font-size: 5vw;
    }
    main .container #sides-extras #extras{
        font-size: 2.2vw;
        width: 83%;
    }
    main .container #sides-extras .items #fries #sub-title-fries{
        font-size: 2.8vw;
    }
    main .container #sides-extras .items #hushpuppies #sub-title-hushpuppies{
        font-size: 2.8vw;
    }main .container #sides-extras .items #okra #sub-title-okra{
        font-size: 2.8vw;
    }
    main .container #drinks-deserts h1{
        font-size: 5vw;
    }
    main .container #drinks-deserts .items #sub-title-drinks, #sub-title-deserts{
        font-size: 2.3vw;
    }

}


/*Tablet-Mobile*/
@media only screen and (max-width: 768px) {

    /* SITE_HEADER */
    .site-header {
        padding: 3px 20px;
    }

    /* HEADER */
    header .container-fluid .logo h2 {
        font-size: 32px;
    }

    header .container-fluid .nav-icon {
        margin-top: 11px;
    }

    header .container-fluid .nav-section .nav-icon a {
        font-size: 34px;
    }

    /* MAIN */
    main .container {
        width: 80%;
        padding: 35px 0 30px;
    }

    main .container h1 {
        font-size: 38px;
    }
    main .container #menu-title{
        padding-bottom: 30px;
    }
    main .container #sides-extras #okra{
        margin-bottom: -3%;
    }

    /* FOOTER */
    footer{
        background-image: url(../images/texturebg-1.jpg);
        background-size: 100% 100%;
        padding:5px 0 !important;
    }
    footer .container .top{
        flex-direction: column-reverse;
        justify-content: space-between;
    }
    /* HOURS */
    footer .container .top .hours{
        padding: 4px 0 4px;
        
    }
    footer .container .top .hours h2{
        font-size: 20px;
        margin-bottom: 4px;
    }
    footer .container .top .hours h3{
        padding-bottom: 6px;
        width: 200px;
        margin: 0 auto;
    }
    footer .container .top .hours #sat{
        border-bottom: 1px solid white;
    }
    /* VISIT */
    footer .container .top .visit{
        padding: 4px 0 18px;
        
    }
    footer .container .top .visit h2{
        font-size: 20px;
        margin-bottom: 4px;
    }
    footer .container .top .visit p{
        line-height: 1.6;
        border-bottom: 1px solid white;
        width: 200px;
        margin: 0 auto;
    }
    footer .container .top .logo .icons{
        padding-top: 13px;
    }
    footer .container .bottom{
        padding-top: 13px;
    }
}

@media only screen and (max-width: 600px){
    .site-header .order{
        text-align: center;
        width: 100%;
    }
    .site-header .social-media{
        display: none;
    }
    .drop-menu{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0;
    }
    .drop-menu a{
        font-size: 4vw;
        background: #A8020C;
        margin: 0;
        padding: 4px 0;
        border: .6px outset gold;
    }
    .drop-menu a:hover{
        background: rgb(65, 2, 3, .7);
        border: 1px inset gold;
    }
}

/* Cell Phone Responsive */
@media only screen and (max-width: 425px){


    .site-header .order p {
        font-size:4vw;
    }
    header .container-fluid {
        padding-bottom: 1vw;
    }
    header .container-fluid .logo h2 {
        font-size: 6vw;
        padding-top: 1.8vw;
    }

    header .container-fluid .nav-section .nav-icon {
        margin-top: 3vw;
    }
    
    header .container-fluid .nav-section .nav-icon a {
        color: white;
        font-size: 7vw;
    }
    .drop-menu a{
        font-size: 6vw;
    }

    main .container h1 {
        font-size: 7vw;
    }

    footer .bottom p{
        font-size: 3vw;
    }

}