/* BODY */
body {
    background-image: url(../images/texturebg-1.jpg);
    background-size: 100% 100%;
}

/* SITE-HEADER */
.site-header {
    background: black;
    color: gold;
    font-family: 'Open Sans', 'Ubuntu', sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 3px 36px;
}
.site-header .order{
    animation-name: order;
    animation-duration: 1s;
    animation-iteration-count: 5;
    animation-timing-function: ease-in-out;
}
.site-header .order p {
    font-weight: 400;
    text-transform: uppercase;
}

.site-header .order span {
    padding-left: 8px;
}


/* order animation */
@keyframes order{
    0%   {color: gold;}
    25%  {color: black;}
    50%  {color: black}
    100% {color: gold;}
}

.site-header .social-media {
    text-align: right;
}

.site-header .social-media p {
    display: inline-block;
    font-weight: 400;
    text-transform: uppercase;
    padding-right: 6px;
}

.site-header .social-media a {
    display: inline-block;
    text-decoration: none;
    color: gold;
    margin: 0 4px;
    transition: 0.4s;
    -webkit-transition: 0.4s;
}

.site-header .social-media a:hover {
    color: maroon;
}

/*HEADER*/
header {
    border-bottom: 1px solid #410203;
}

header .container-fluid {
    margin: 0 auto;
    width: 98%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

header .container-fluid .logo {
    flex-grow: 1;
    text-align: left;
}

header .container-fluid .logo h2 {
    display: inline-block;
    vertical-align: top;
    color: white;
    font-family: 'Alfa Slab One', cursive;
    font-size: 40px;
}

header .container-fluid .nav-icon {
    display: none;
    line-height: 0.8;
    margin-top: 13px;
}

header .container-fluid .nav-section .nav-icon a {
    text-decoration: none;
    color: white;
    font-size: 38px;
}

header .container-fluid nav {
    text-align: right;
    margin-top: 14px;
    flex-grow: 2;
}

header .container-fluid nav a {
    margin: 0 8px;
    text-decoration: none;
    color: white;
    font-family: 'Open Sans', 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 20px;
    -webkit-transition: .4s;
    transition: .4s;
}

header .container-fluid nav a:hover {
    color: gold;
    border-bottom: 1px solid;
}
header .container-fluid nav #active{
    color: gold;
    border-bottom: 1px solid;
}

.drop-menu{
    text-align: center;
    padding: 1% 0;
}
.drop-menu a{
    margin: 0 2%;
    text-decoration: none;
    color: white;
    font-family: 'Open Sans', 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 2vw;
    -webkit-transition: .4s;
    transition: .4s;
}
.drop-menu a:hover{
    color: gold;
    border-bottom: 1px solid;
}

/*CONTENT*/
/* .main-bg {
    background-image: url(../images/store.jpg);
    background-size: 100% 100%;
} */

main {
    background: rgb(242, 242, 242, 0.6);
}

main .container {
    padding: 55px 0 20px;
    text-align: center;
    margin: 0 auto;
    width: 80%;
}

main .container h1 {
    font-size: 48px;
    text-transform: uppercase;
    font-family: 'Alfa Slab One', cursive;
    text-decoration: underline;
    color: #A8020C;
}

main .container .info {
    padding: 60px 0 0;
}

main .container .info p {
    font-family: 'Open Sans', 'Ubuntu', sans-serif;
    font-size: 30px;
    color: black;
    line-height: 2;
    font-weight: 600;
    padding-bottom: 25px;
}

main .container .info #verse {
    font-style: italic;
    border-top: 1px dotted #A8020C;
    padding-top: 25px;
    line-height: 1.8;
    font-size: 23px;
    color: #A8020C;
}

main .container .info span {
    font-size: 18px;
    font-style: italic;
}

/* FOOTER */
footer {
    color: white;
    padding: 26px 0 10px;
    border-top: 1px solid #410203;
    background-image: url(../images/texturebg-1.jpg);
    background-size: 100% 100%;
}

/* FOOTER -> TOP */
footer .container .top {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

/* FOOTER -> TOP -> LOGO */
footer .container .top .logo {
    text-align: center;
    flex-grow: 1;
}

footer .container .top .logo #logo {

    color: white;
    text-decoration: none;
    vertical-align: top;
    margin-top: 7px;
    font-size: 25px;
    text-transform: capitalize;
    font-family: 'Alfa Slab One', cursive;
    border-bottom: 1px solid gold;
}

footer .container .top .logo .icons {
    padding-top: 26px;
}

footer .container .top .logo .icons a {
    text-decoration: none;
    color: white;
    font-size: 28px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    padding: 0 10px;
}

footer .container .top .logo .icons a:hover {
    color: gold;
}

/* FOOTER -> TOP -> VISIT */
footer .container .top .visit {
    text-align: center;
    padding-top: 7px;
    flex-grow: 2;
}

footer .container .top .visit h2 {
    font-size: 18px;
    text-transform: capitalize;
    font-family: 'Alfa Slab One', cursive;
    margin-bottom: 14px;
    text-decoration: underline;
    text-decoration-color: gold;
}

footer .container .top .visit a {
    font-family: 'Open Sans', 'Ubuntu', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-weight: 600;
    line-height: 1.8;
    transition: 0.2s;
}

footer .container .top .visit a:hover {
    color: gold;
}

/* FOOTER -> TOP -> HOURS */
footer .container .top .hours {
    text-align: center;
    padding-top: 7px;
    flex-grow: 2;
}

footer .container .top .hours h2 {
    font-size: 18px;
    text-transform: capitalize;
    font-family: 'Alfa Slab One', cursive;
    margin-bottom: 14px;
    text-decoration: underline;
    text-decoration-color: gold;
}

footer .container .top .hours h3 {
    font-family: 'Open Sans', 'Ubuntu', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    padding-bottom: 8px;
}

/* FOOTER -> BOTTOM */
footer .container .bottom {
    text-align: center;
    padding-top: 26px;
    font-family: 'Open Sans', 'Ubuntu', sans-serif;
    font-size: 16px;
}

footer .container .bottom a {
    text-decoration: none;
    color: white;
}

/* Desktop-Laptop */
@media only screen and (max-width: 1024px) {
    header .container-fluid nav {
        display: none;
    }
    header .container-fluid .nav-icon {
        display: block;
    }
    main .container {
        padding: 45px 0 18px;
    }
    main .container .info {
        padding: 40px 0 0;
    }
    main .container .info p{
        font-size: 2.8vw;
        padding-bottom: 12px;
        line-height: 1.7;
    }
    main .container .info #verse {
        padding-top: 12px;
        line-height: 1.7;
        font-size: 2.2vw;
    }
    main .container .info span {
        font-size: 2.2vw;
    }
}


/*Tablet-Mobile*/
@media only screen and (max-width: 768px) {

    /* SITE_HEADER */
    .site-header {
        padding: 3px 20px;
        display: none !important;
    }

    /* HEADER */
    header .container-fluid .logo h2 {
        font-size: 32px;
    }

    header .container-fluid .nav-icon {
        margin-top: 11px;
    }

    header .container-fluid .nav-section .nav-icon a {
        font-size: 34px;
    }

    /* MAIN */
    main .container {
        width: 80%;
        padding: 35px 0 8px;
    }
    main .container h1 {
        font-size: 38px;
    }
    main .container .info {
        padding: 30px 0 0;
    }
    main .container .info p {
        line-height: 1.7;
        padding-bottom: 6px;
    }
    main .container .info #verse {
        padding: 6px 0;
    }

    /* FOOTER */
    footer{
        background-image: url(../images/texturebg-1.jpg);
        background-size: 100% 100%;
        padding:5px 0 !important;
    }
    footer .container .top{
        flex-direction: column-reverse;
        justify-content: space-between;
    }
    /* HOURS */
    footer .container .top .hours{
        padding: 4px 0 4px;
        
    }
    footer .container .top .hours h2{
        font-size: 20px;
        margin-bottom: 4px;
    }
    footer .container .top .hours h3{
        padding-bottom: 6px;
        width: 200px;
        margin: 0 auto;
    }
    footer .container .top .hours #sat{
        border-bottom: 1px solid white;
    }
    /* VISIT */
    footer .container .top .visit{
        padding: 4px 0 18px;
        
    }
    footer .container .top .visit h2{
        font-size: 20px;
        margin-bottom: 4px;
    }
    footer .container .top .visit p{
        line-height: 1.6;
        border-bottom: 1px solid white;
        width: 200px;
        margin: 0 auto;
    }
    footer .container .top .logo .icons{
        padding-top: 13px;
    }
    footer .container .bottom{
        padding-top: 13px;
    }
}

@media only screen and (max-width: 600px){
    .site-header .order{
        text-align: center;
        width: 100%;
    }
    .site-header .social-media{
        display: none;
    }
    .drop-menu{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0;
    }
    .drop-menu a{
        font-size: 4vw;
        background: #A8020C;
        margin: 0;
        padding: 4px 0;
        border: .6px outset gold;
    }
    .drop-menu a:hover{
        background: rgb(65, 2, 3, .7);
        border: 1px inset gold;
    }
}
/* Cell Phone Responsive */
@media only screen and (max-width: 425px){


    .site-header .order p {
        font-size:4vw;
    }
    header .container-fluid {
        padding-bottom: 1vw;
    }
    header .container-fluid .logo h2 {
        font-size: 6vw;
        padding-top: 1.8vw;
    }

    header .container-fluid .nav-section .nav-icon {
        margin-top: 3vw;
    }
    
    header .container-fluid .nav-section .nav-icon a {
        color: white;
        font-size: 7vw;
    }
    .drop-menu a{
        font-size: 6vw;
    }
    main .container h1 {
        font-size: 7vw;
    }
    .main-bg{
        background-image: url(../images/store.jpg);
        background-size: 100% 100%;
    }
    .main-bg video{
        display: none;
    }
    /* main .container .info {
        padding: 60px 0 0;
    } */
    
    main .container .info p {
        font-family: 'Open Sans', 'Ubuntu', sans-serif;
        font-size: 4.8vw;
        color: black;
        line-height: 2;
        /* font-weight: 600;
        padding-bottom: 25px; */
    }
    
    main .container .info #verse {  
        font-size: 4vw;
    }
    
    main .container .info span {
        font-size: 3.5vh;
    } 

    footer .bottom p{
        font-size: 3vw;
    }

}